* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #02072e;
}

.container {
    margin-top: 60px; 
}

.container .text {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.form-input input {
    width: 510px;
    height: 50px;
    padding-left: 20px;
    font-size: 24px;
    border-radius: 12px;
    outline: none;
}


.form-add button {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    font-size: 24px;
    background-color: #efefef;
    opacity: 0.8;
    border: none;
}

.form-add button:hover {
    cursor: pointer;
    opacity: 1;
}

.list {
    color: #fff;
}

.item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 50px;
    background-color: #fff;
    margin-top: 20px;
    color: #000;
    border-radius: 12px;
    font-size: 24px;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin-left: 20px;
}

.item .item-text {
    padding-left: 20px;
}

#btn-delete {
    position: absolute;
    right: 12px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 0 12px;
    display: none;
}

.item:hover #btn-delete {
    display: block;
}




